<!DOCTYPE html>
<html lang="en">
<head>
  <title>Midnight Stockers</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"     integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>


<style type="text/css">
    .sidenav {
      padding-top: 20px;
      background-color: gray;
      height: 100%;
    }

    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
  </style>

</head>
<body>

  <div class="col-sm-6 bg-dark"> <img src="top.jpg" class="rounded float-left img-fluid" alt="Midnight Stockers Logo">
  </div>
  <nav class="navbar navbar-expand-lg navbar-white bg-dark  text-center pr-0">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/midnight">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active border-right border-left">
        <a class="nav-link" href="/listings">Extended listings <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active border-right">
        <a class="nav-link" href="account">User Account <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="about">About Us <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="login" placeholder="Login" aria-label="Login">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav>
  
<div class="container text-center">
<h3>STATEMENT OF ACCOUNT</h3><br>
<div class="row">
  <div class="col-sm-4">
    <div class="well text-left">
     <p>
      <p>Johnny Begood </p>
      <p>123 Some St</p>
      <p>Nowhere Anywhere, 55555</p>
      <p>USA</p>
  </p>
    </div>
    </div>
    <div class="col-sm-8">
    <div class="well text-right">
     <p>
      <p>Acct: cycqk6r6mxf97bd9vx7kmy35g </p>
      <p>Cash:.........5,255.25</p>
      <p>Deposit:..........0.00</p>
      <p>Withdrawal:.......0.00</p>
      <p>Holdings:....64,869.52</p>
      <p>Total:.......70,124.87</p>
      <p>Previous:....68,721.15</p>
      <p>Change:.......1,403.72</p>
  </p>
    </div>
  </div>
<span class=" w-100 border border-dark"></span>
<h4>Activity</h4><br>
  <div class="col-sm-12">
    <div class="well">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Ticker</th>
            <th>Per Share</th>
            <th>Value</th>
            <th>Shares<br>(x100)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= list[0].symbol%></td>
            <td><%= list[0].close%></td>
            <td><%= list[0].volume%></td>
            <td><%= list[0].buy%></td>
          </tr>
          <tr>
            <td><%= list[16].symbol%></td>
            <td><%= list[16].close%></td>
            <td><%= list[16].volume%></td>
            <td><%= list[16].buy%></td>
          </tr>
          <tr>
            <td><%= list[2].symbol%></td>
            <td><%= list[2].close%></td>
            <td><%= list[2].volume%></td>
            <td><%= list[2].buy%></td>
          </tr>
          <tr>
            <td><%= list[18].symbol%></td>
            <td><%= list[18].close%></td>
            <td><%= list[18].volume%></td>
            <td><%= list[18].buy%></td>
          </tr>
          <tr>
            <td><%= list[4].symbol%></td>
            <td><%= list[4].close%></td>
            <td><%= list[4].volume%></td>
            <td><%= list[4].buy%></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="well">
    </div>
  </div>
  <span class=" w-100 border border-dark"></span>
  <h4>Holdings</h4><br>
  <div class="col-sm-12">
  <div class="well">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Ticker</th>
          <th>Per Share</th>
          <th>Value</th>
          <th>Shares<br>(x100)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= list[6].symbol%></td>
          <td><%= list[6].close%></td>
          <td><%= list[6].volume%></td>
          <td><%= list[6].buy%></td>
        </tr>
        <tr>
          <td><%= list[8].symbol%></td>
          <td><%= list[8].close%></td>
          <td><%= list[8].volume%></td>
          <td><%= list[8].buy%></td>
        </tr>
        <tr>
          <td><%= list[10].symbol%></td>
          <td><%= list[10].close%></td>
          <td><%= list[10].volume%></td>
          <td><%= list[10].buy%></td>
        </tr>
        <tr>
          <td><%= list[12].symbol%></td>
          <td><%= list[12].close%></td>
          <td><%= list[12].volume%></td>
          <td><%= list[12].buy%></td>
        </tr>
        <tr>
          <td><%= list[14].symbol%></td>
          <td><%= list[14].close%></td>
          <td><%= list[14].volume%></td>
          <td><%= list[14].buy%></td>
        </tr>
      </tbody>
    </table>
    </div>
    <div class="well">
    </div>
  </div>
</div>
</div><br>




<footer class="container-fluid text-center">
  <p class=" text-center m-0 w-100"> Past performance does not guarantee future results.</p>
    <p class=" text-center m-0 w-100"> Trading is a high-risk business. You should trade only with funds
      whose loss will not impact your lifestyle.</p>
    <p class=" text-center m-0 w-100"> Actually.... maybe you should just go to Las Vegas.</p>
    <p class=" text-center m-0 w-100"> &copyMMXX The Midnight Stockers</p>
</footer>
</body>
</html>
