<!DOCTYPE html>
<html lang="en">
<head>
  <title>Midnight Stockers</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"     integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>


<style type="text/css">
    .sidenav {
      padding-top: 20px;
      background-color: white;
      height: 100%;
    }

    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
  </style>

</head>
<body>

  <div class="col-sm-6 bg-dark"> <img src="top.jpg" class="rounded float-left img-fluid" alt="Midnight Stockers Logo">
  </div>
  <nav class="navbar navbar-expand-lg navbar-white bg-dark  text-center pr-0">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/midnight">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active border-right border-left">
        <a class="nav-link" href="/listings">Extended listings <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active border-right">
        <a class="nav-link" href="account">User Account <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="about">About Us <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="login" placeholder="Login" aria-label="Login">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav>
  
<div class="container-fluid text-center h-100">
  <div class="row content">
    <div>
      <div class="item_container">
        </div>
        <div class="well m-4">
        <A HREF="http://www.kitco.com/connectndx.html">
          <IMG SRC="http://www.weblinks247.com/indexes/idx24_djia_en_2.gif" BORDER="0" ALT="Index">
        </A>
      </div>
      <div class="well m-4">
      <A HREF="http://www.kitco.com/connectndx.html">
        <IMG SRC="http://www.weblinks247.com/indexes/idx24_nasdaq_en_4.gif" BORDER="0" ALT="Index">
      </A>
    </div>
      <div class="well m-4">
        <A HREF="http://www.kitco.com/connectndx.html">
          <IMG SRC="http://www.weblinks247.com/indexes/idx24_russell_en_2.gif" BORDER="0" ALT="Index">
        </A>
      </div>
      <div class="well m-4">
        <A HREF="http://www.kitco.com/connectndx.html">
          <IMG SRC="http://www.weblinks247.com/indexes/idx24_nyse_en_2.gif" BORDER="0" ALT="IndexIndex">
        </A>
      </div>

    </div>
        <div class="col-sm-6 text-left container-fluid h-100">
      <H2>Calls of the Week....</H2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Ticker</th>
            <th>Close</th>
            <th>Volume</th>
            <th>1= Buy<br>2= Sell</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= list[0].symbol%></td>
            <td><%= list[0].close%></td>
            <td><%= list[0].volume%></td>
            <td><%= list[0].buy%></td>
          </tr>
          <tr>
            <td><%= list[1].symbol%></td>
            <td><%= list[1].close%></td>
            <td><%= list[1].volume%></td>
            <td><%= list[1].buy%></td>
          </tr>
          <tr>
            <td><%= list[2].symbol%></td>
            <td><%= list[2].close%></td>
            <td><%= list[2].volume%></td>
            <td><%= list[2].buy%></td>
          </tr>
          <tr>
            <td><%= list[3].symbol%></td>
            <td><%= list[3].close%></td>
            <td><%= list[3].volume%></td>
            <td><%= list[3].buy%></td>
          </tr>
          <tr>
            <td><%= list[4].symbol%></td>
            <td><%= list[4].close%></td>
            <td><%= list[4].volume%></td>
            <td><%= list[4].buy%></td>
          </tr>
        </tbody>
      </table>
      <div class="container-fluid"><table border="0"><tr><td><a href="https://www.aistockcharts.com"><img class="img-fluid" src="https://www.aistockcharts.com/aistockchart.cgi?t=<%=list[0].symbol%>&>bb=20,2&sma2=10&macd=12,26,9&rsi2=14" border="0"></a></td></tr><tr><td align="right"><a style="font-size: 10px; font-family: verdana; color: #000650" href="https://www.aistockcharts.com" target="_blank">Chart Courtesy AiStockCharts.com</a></td></tr></table></div>
    </div>
    <div class="col-sm-3 sidenav">
      <!-- start sw-rss-feed code --> 
<script type="text/javascript">
  rssfeed_url = new Array();
  rssfeed_url[0]="https://www.benzinga.com/news/feed";
  rssfeed_frame_height="500";
  rssfeed_frame_width="200";
  rssfeed_scroll="on";
  rssfeed_scroll_step="6"; 
  rssfeed_scroll_bar="off"; 
  rssfeed_target="_blank"; 
  rssfeed_font_size="12"; 
  rssfeed_font_face=""; 
  rssfeed_border="on"; 
  rssfeed_css_url="https://feed.surfing-waves.com/css/style4.css"; 
  rssfeed_title="on"; 
  rssfeed_title_name=""; 
  rssfeed_title_bgcolor="white";
  rssfeed_title_color="#fff"; 
  rssfeed_title_bgimage=""; 
  rssfeed_footer="off"; 
  rssfeed_footer_name="rss feed"; 
  rssfeed_footer_bgcolor="#fff"; 
  rssfeed_footer_color="#333"; 
  rssfeed_footer_bgimage=""; 
  rssfeed_item_title_length="50"; 
  rssfeed_item_title_color="#666"; 
  rssfeed_item_bgcolor="#fff"; 
  rssfeed_item_bgimage=""; 
  rssfeed_item_border_bottom="on"; 
  rssfeed_item_source_icon="off"; 
  rssfeed_item_date="off"; 
  rssfeed_item_description="on"; 
  rssfeed_item_description_length="120"; 
  rssfeed_item_description_color="#666"; 
  rssfeed_item_description_link_color="#333";
  rssfeed_item_description_tag="off"; 
  rssfeed_no_items="0"; 
  rssfeed_cache = "786f9d42b5aaa14303d51ce06d263f2d"; 
  //--> 
  </script> 
  <script type="text/javascript" src="//feed.surfing-waves.com/js/rss-feed.js"></script> 
  <!-- end sw-rss-feed code -->
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p class=" text-center m-0 w-100"> Past performance does not guarantee future results.</p>
    <p class=" text-center m-0 w-100"> Trading is a high-risk business. You should trade only with funds
      whose loss will not impact your lifestyle.</p>
    <p class=" text-center m-0 w-100"> Actually.... maybe you should just go to Las Vegas.</p>
    <p class=" text-center m-0 w-100"> &copyMMXX The Midnight Stockers</p>
</footer>
</body>
</html>
